.App {
  text-align: center;
}

.App-logo-container {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin: 20px 20px;
  padding: 10px;


}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* This ensures children start from the left */
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 10px; 
}

.App-link {
  color: #61dafb;
}

/* Search Component */
.Search {
  text-align: left;
  border-radius: 4px;
  

}

.Search-input {
  padding: 10px 170px;  /* Increased padding for a larger button */
  background-color: white;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;  /* Slightly increased radius for rounded corners */
  color: black;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;  /* Adjust font size as needed */
  font-family: 'Roboto', sans-serif;  /* Example of using a modern font */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow to give depth */
  transition: all 0.3s ease;  /* Transition for smooth effect on hover */

}

.Search-button {
  padding: 10px 240px;  /* Increased padding for a larger button */
  margin-bottom: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;  /* Slightly increased radius for rounded corners */
  color: white;
  cursor: pointer;
  font-size: 1rem;  /* Adjust font size as needed */
  font-family: 'Roboto', sans-serif;  /* Example of using a modern font */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow to give depth */
  transition: all 0.3s ease;  /* Transition for smooth effect on hover */
}

.Search-button:hover {
  background-color: #4fa9d8;  /* Slightly darker shade on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);  /* Increased shadow on hover for more depth */
}


/* Product Component */
.Product {
  text-align: left;
  margin-left: 10px;
  padding: 15px;
  border-radius: 4px;
}

.Product-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.Product-description {
  margin-top: 10px;
}

/* Tracking Component */
.Tracking {
  text-align: left;
  margin-left: 10px;
  padding: 15px;
  border-radius: 4px;
}

.Tracking-info {
  font-weight: bold;
}

/* History Component */
.History {
  text-align: left;
  margin-left: 10px;
  padding: 15px;
  border-radius: 4px;
}

.History-item {
  text-align: left;

  margin-top: 10px;
}

button {
  display: flex;  /* make the button use Flexbox */
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;  /* center items vertically */
  gap: 10px;  /* create a 10px gap between the icon and the text */
  padding: 10px 20px;  /* padding to make the button a bit larger */
  border: none;  
  border-radius: 5px; 
  cursor: pointer;
  transition: 0.3s;  /* smooth transition for any hover effects */
  font-size: 1rem;  
  font-family: 'Roboto', sans-serif;
}

button img {
  width: 40px;  /* or whatever size you feel is appropriate */
  height: 40px;
}

.product-category-buttons {
  
  display: flex; /* Aligns children (the buttons) in a row */
  gap: 10px; /* Gives space between each button */
  flex-wrap: wrap; /* Allows the buttons to wrap to the next line if they run out of space */
}

.product-category-buttons button {
  flex-shrink: 0; /* Prevents the button from shrinking */
  display: flex; /* Makes the button contents (icon and text) align in a row */
  align-items: center; /* Vertically aligns the icon and the text in the center */
  gap: 5px; /* Gives a little space between the icon and the text */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
